<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="app-form app-form--narrow app-form--simple">
  <h1 class="app-page__tile">{{ getPageTitle() }}</h1>

  <img src="/assets/logo.svg" alt="Logo" class="app-form__logo">

  <label class="app-form__element">
    <span class="app-form__element__label">Username:</span>
    <span class="app-form__element__input">
      <input #usernameInput type="text" class="app-form__text-input" formControlName="username">
    </span>
  </label>

  <label class="app-form__element">
    <span class="app-form__element__label">Password:</span>
    <span class="app-form__element__input">
      <input #passwordInput type="password" class="app-form__text-input" formControlName="password">
    </span>
  </label>

  <div class="app-form__actions">
    <a routerLink="/account/forgot-password">Forgot password?</a>
  </div>
  
  <label class="app-form__element">
    <span class="app-form__element__label">Stay signed in:</span>
    <span class="app-form__element__input">
      <input #staySignedInCheckbox type="checkbox" class="app-form__checkbox-input" formControlName="staySignedIn">
    </span>
  </label>

  <div *ngIf="formErrors" class="app-form__errors">
    <ng-container *ngFor="let formError of formErrors">
      {{ formError }}
    </ng-container>
  </div>
  <div class="app-form__actions">
    <button class="app-button--with-icon" type="submit">
      <i class="material-icons">lock_open</i>
      <span class="text">Login</span>
    </button>
  </div>
</form>
