{
  "extends": [
    "@3angletech/tslint/styles"
  ],
  "rules": {
    "font-family-name-quotes": null,
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": [
          "router-outlet",
          "/^app-/"
        ]
      }
    ]
  }
}
