<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="app-form app-form--narrow app-form--simple">
  <h1 class="app-page__title">{{ getPageTitle() | translate }}</h1>

  <img src="/assets/logo.svg" alt="Logo" class="app-form__logo">

  <label class="app-form__element--block">
    <span class="app-form__element__label">{{ 'First name:' | translate }}</span>
    <span class="app-form__element__input">
      <input type="text" class="app-form__text-input" formControlName="firstName">
      <app-form-control-errors namespace="signupPage.errors" formControlPath="firstName"></app-form-control-errors>
    </span>
  </label>

  <label class="app-form__element--block">
    <span class="app-form__element__label">{{ 'Last name:' | translate }}</span>
    <span class="app-form__element__input">
      <input type="text" class="app-form__text-input" formControlName="lastName">
      <app-form-control-errors namespace="signupPage.errors" formControlPath="lastName"></app-form-control-errors>
    </span>
  </label>

  <label class="app-form__element--block">
    <span class="app-form__element__label">{{ 'Email:' | translate }}</span>
    <span class="app-form__element__input">
      <input type="email" class="app-form__text-input" formControlName="email">
      <app-form-control-errors namespace="signupPage.errors" formControlPath="email"></app-form-control-errors>
    </span>
  </label>

  <label class="app-form__element--block">
    <span class="app-form__element__label">{{ 'Username:' | translate }}</span>
    <span class="app-form__element__input">
      <input type="text" class="app-form__text-input" formControlName="username">
      <app-form-control-errors namespace="signupPage.errors" formControlPath="username"></app-form-control-errors>
    </span>
  </label>

  <div formGroupName="newPasswordsGroup">
    <label class="app-form__element--block">
      <span class="app-form__element__label">{{ 'Password:' | translate }}</span>
      <span class="app-form__element__input">
        <input type="password" class="app-form__text-input" formControlName="newPassword">
        <app-form-control-errors namespace="signupPage.errors" formControlPath="newPasswordsGroup.newPassword"></app-form-control-errors>
      </span>
    </label>

    <label class="app-form__element--block">
      <span class="app-form__element__label">{{ 'Confirm:' | translate }}</span>
      <span class="app-form__element__input">
        <input type="password" class="app-form__text-input" formControlName="confirmPassword">
        <app-form-control-errors namespace="signupPage.errors" formControlPath="newPasswordsGroup.confirmPassword"></app-form-control-errors>
      </span>
    </label>
  </div>

  <div class="app-form__actions">
    <a routerLink="/account/forgot-password">{{ 'Forgot password?' | translate }}</a>
  </div>

  <div *ngIf="formErrors" class="app-form__errors">
    <ng-container *ngFor="let formError of formErrors">
      {{ formError | translate }}
    </ng-container>
  </div>

  <div class="app-form__actions">
    <button class="app-button--with-icon" type="submit">
      <i class="material-icons">check</i>
      <span class="text">{{ 'Signup' | translate }}</span>
    </button>
  </div>

  <div class="app-form__separator">
    <span>{{ 'Or' | translate }}</span>
  </div>

  <div class="app-form__actions">
    <button class="app-button--with-icon" type="button" routerLink="/account/login">
      <i class="material-icons">person</i>
      <span class="text">{{ 'Login?' | translate }}</span>
    </button>
  </div>
</form>
