:host {
  display: block;
  padding: 16px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.clickable {
  cursor: pointer;

  &:hover {
    background-color: #eeeeee;
  }
}
