// stylelint-disable declaration-no-important
// This file should contains temporary styles, until a permanent home is found for them.
// Please keep this file as small as possible and documented.

.app-page__tile {
  text-align: center;
}

.app-default-shell,
.app-minimal-shell {
  display: block;
  margin: 0 auto;
  max-width: 640px;
}
