// stylelint-disable declaration-no-important
// This file should contains temporary styles, until a permanent home is found for them.
// Please keep this file as small as possible and documented.

.app-page__title {
  text-align: center;
}

.app-default-shell,
.app-minimal-shell {
  display: block;
  margin: 0 auto;
  max-width: 640px;
}

.app-button--with-icon {
  border-radius: 2px;
  cursor: pointer;
  line-height: 1em;
  padding: 0.25em 1em;

  .material-icons,
  .text {
    vertical-align: middle;
  }

  .material-icons + .text {
    margin-left: 0.5em;
  }
}
